<div id="<%= dom_id course %>">
  <p>
    <%= link_to course.name, course %>
  </p>

  <% if course.user %>
    <p>
      user: <%= course.user&.name %>
    </p>
  <% end %>

  <p>
    <strong>Description:</strong>
    <%= course.body %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= course.summary %>
  </p>

</div>
